@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

:root {
    --white: #fff;
    --btn-coler-select: #1d8346;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

main:after {
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 90%);
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.info {

}

.info .logo {
    max-width: 350px;
    filter: invert(1);
    margin-bottom: 7%;
}

.description {
    width: 50%;
    font-size: 1.5em;
    color: var(--white);
    line-height: 30px;
}

.btn-carrosel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.btn-carrosel .btn {
    background-color: var(--white);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent var(--white);
    cursor: pointer;
}

.btn-carrosel .btn.select {
    background-color: var(--btn-coler-select);
}

.menu-aside {
    position: fixed;
    top: 0;  /* o valor 0 significa maximo */
    right: 0; /* o valor 0 significa maximo */
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-aside .icon {
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
}

.menu-aside ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu-aside .icon:hover {
    transform: scale(1.2);
}

.carrosel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.carrosel .img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: none;
    animation: mudarImg 0.7s;
}

@keyframes mudarImg {
    from {
        opacity: 0.85;
    }

    to {
        opacity: 1;
    }
}

.carrosel .img.ative {
    display: block;
}

