@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.info {

}

.info .logo {
    max-width: 350px;
    filter: invert(1);
    margin-bottom: 7%;
}

.description {
    width: 50%;
    font-size: 1.5em;
    color: #fff;
    line-height: 30px;
}