@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

:root {
    --white: #fff;
    --btn-coler-select: #1d8346;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.info {

}

.info .logo {
    max-width: 350px;
    filter: invert(1);
    margin-bottom: 7%;
}

.description {
    width: 50%;
    font-size: 1.5em;
    color: var(--white);
    line-height: 30px;
}

.btn-carrosel{
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 20px;
}

.btn-carrosel .btn {
    background-color: var(--white);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent var(--white);
    cursor: pointer;
}

.btn-carrosel .btn.select {
    background-color: var(--btn-coler-select);
}